*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.mg-top-bottom-19 {
    margin: 19px 0;
}
.mg-top-bottom-12 {
    margin: 12px 0;
}
.mg-bottom-15 {
    margin-bottom: 15px;
}
.mg-top-25 {
    margin-top: 25px;
}
.mg-top-35 {
    margin-top: 35px;
}
.fw-ligth {
    font-weight: lighter;
}
.fw-100 {
    font-weight: 100;
}
.color-white {
    color: white
}
h1, h2 , h3 , h4 , h5, p {
    font-weight: 300;
}
.mg-bottom-8 {
    margin-bottom: 8px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-center {
    text-align: center;
}
.img-responsive {
    max-height: 100%;
    max-width: 100%;
}
.img-rounded {
    border-radius: 50%;
}
.nav {
    width: 100vw;
    background-color: #222222;
    padding: 15px 8vw;
    color: grey;
}
.first-section {
    height: 35vh;
    width: 100vw;
    padding: 20px;
}
.second-section {
    height: auto;
    width: 100vw;
    background-color: #D9534F;
    position: relative;
    padding: 45px 30px 30px;
}
.shut-down-button {
    height: 15vw;
    position: absolute;
    top: -20px;
    left: 43vw;
    background-color: #fff;
    padding-inline-end: 5px;
    border-radius:50%;  
}

.img-article {
    height: 200px;
}

.third-section {
    padding: 30px;
}
.btn {
    padding:12px;
    border: none;
    border-radius: 5px;
    background-color: #c82333;
    color: #fff;
    font-weight: 300;
}
.footer {
    background-color: #222222;
    color: #999999;
    padding: 15px 30px;
}
.copyrigth {
    width: 60vw;
    display: inline-block
}
.uniclick-footer {
    line-height: 35px;
    display: inline-block;
    float: right;
    
}